<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success"> To Shoping list</button>
    <button class="btn btn-primary"> Login</button>
    <button class="btn btn-danger"> Login 2</button>
  </div>
</div>



